h2 {
  color:grey;
}
* {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}
img {
  width: 100px;
  height:50%;
  border-radius: 50%;
}

body {
  background-color: lavender
}
